.comparison {
    min-height: 72vh;
    max-width: 1000px;
    margin: 0 auto;

    @include respond-min($cols-4) {
        display: flex;
        flex-direction: row;
    }
}

.movie {
    box-sizing: border-box;
    display: flex;
    flex: 5 0 0;
    padding: 8px 20px;

    @include respond-min($cols-4) {
        padding: 20px;
    }
}

.movie__inner {
    display: flex;
    margin: auto;
    width: 100%;
}

.vs {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: auto;
    padding: 10px 0;
    text-transform: uppercase;

    @include respond-min($cols-4) {
        padding: 2em 0;
    }
}

.add-movie {
    background: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    font-size: 30px;
    font-weight: normal;
    height: 145px;
    margin: 20px 20px;
    text-align: center;
    width: 100%;

    .is-loading & {
        background-color: #fff;
        background-image: url(../images/loading.gif) !important;
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;
    }

    svg {
        display: block;
        font-size: 18px;
        margin: 6px auto 0;
    }

    &:hover,
    &:focus {
        background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
    }

    @include respond-min($cols-4) {
        margin: auto;
        width: 330px;
    }
}

.movie-tile {
    background: #fff;
    background: linear-gradient(to top, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 90px rgba(0,0,0,0.2);
    padding: 13px 15px 10px;
    position: relative;
    flex: 1;
    margin: auto;
    text-align: left;
    transition: all 0.2s;

    &.is-best {
        background: #8f8;
        background: linear-gradient(to bottom, #BDFDC9 0%, #d8fcdf 100%)
    }

    .icon--corner {
        right: 3px;
        top: 6px;
    }

    @include respond-min($cols-3) {
        min-height: 205px;
    }
}

.movie-tile__title {
    margin: 0 20px 20px 0;

    @include respond-min($cols-4) {
        margin: 0 20px 30px 0;
    }
}

.movie-tile__img {
    float: left;
    margin: 2px 12px 10px 0;
    max-width: 45px;

    @include respond-min($cols-3) {
        margin-bottom: 18px;
    }

    @include respond-min($cols-4) {
        margin: 2px 15px 30px 0;
        max-width: none;
    }
}

.movie-tile__rating {
    font-size: 13px;

    @include respond-min($cols-5) {
        font-size: 14px;
    }
}