// icon font usage ~~~~~~~~~~~~~~~~~~~~~~

.icon-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

// Google fonts usage ~~~~~~~~~~~~~~~~~~~~~~~

body,
input,
select,
textarea,
button {
    font-family: $font-body;
}

h1,
.movie-search__title,
.add-movie {
    font-family: $font-cursive;
}

h4, h5, h6 {
    letter-spacing: -0.02em;
}

button {
    font-weight: bold;
    font-size: 13px;
}