header {
    left: 0;
    min-height: 40px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;

    .icon--corner {
        top: 11px;
    }

    @include respond-min($cols-4) {
    	background: none;
    	box-shadow: none;
    	position: static;

        .icon--corner {
            right: 10px;
            top: 30px;
        }
    }
}

h1 {
    font-size: 46px;
    margin: 0;
    margin-right: auto;
    text-align: center;
    width: 100%;

    @include respond-min($cols-4) {
        font-size: 75px;
    }
}

.intro {
    font-size: 13px;
    line-height: 1.8;
    margin: 0 10px 16px;
    text-align: center;

    @include respond-min($cols-3) {
        font-size: 14px;
    }
}