header {
    min-height: 40px;
    overflow: hidden;
    position: static;
    text-align: center;
    width: 100%;

    .icon--corner {
        top: 11px;
    }

    @include respond-min($cols-4) {
    	background: none;
    	box-shadow: none;

        .icon--corner {
            right: 10px;
            top: 30px;
        }
    }
}

h1 {
    font-size: 55px;
    margin: 12px 0 0;
    line-height: 1;
    margin-right: auto;
    text-align: center;
    width: 100%;

    @include respond-min($cols-3) {
        font-size: 68px;
        margin-top: 16px;
    }

    @include respond-min($cols-4) {
        font-size: 96px;
        margin-top: 20px;
    }
}

.intro {
    font-size: 12px;
    line-height: 1.7;
    margin: 0 25px 10px;
    text-align: center;

    @include respond-min($cols-3) {
        font-size: 13px;
    }

    @include respond-min($cols-5) {
        font-size: 14px;
    }
}