.movie-search {
	background: #fff;
	background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
	border-radius: 2px;
	box-shadow: 0 8px 70px rgba(0,0,0,0.3);
	box-sizing: border-box;
	padding: 40px 10px 0;
	opacity: 1;
	position: fixed;
	left: 10px;
	top: 10px;
	transition: all 0.2s $transition;
	width: calc(100% - 20px);
	z-index: 30;

	&.ng-hide {
		display: block !important;
		opacity: 0;
		pointer-events: none;
		transform: scale(0.9);
	}

	&.is-active {
		opacity: 1;
		transform: scale(1);
	}

	@include respond-min($cols-4) {
		top: 10px;
		max-width: #{$cols-3+'px'};
		left: calc(50% - #{$cols-3/2+'px'});
	}
}

.movie-search__title {
	font-size: 42px;
	margin: 0;
	text-align: center;
}

.movie-search__text {
	@include respond-min($cols-4) {
		border-right: 0;
	}
}

.movie-search__results {
	list-style: none;
	margin: 0 -10px;
	padding: 0;
}

.movie-search__empty {
	border-top: 1px solid #aaa;
	margin: 0 -10px 17px;
	padding-top: 17px;
	text-align: center;
}


.movie-search__loading {
	background: url(../images/loading.gif) no-repeat center center;
	color: transparent;
	display: block;
	font-size: 13px;
	padding: 20px 12px;
	text-decoration: none;
}

.search-result {
	border-top: 1px solid #aaa;
	font-size: 13px;
	transition: background 0.2s;

	&:hover,
	&:focus {
		background: #ddd;
	}

	a {
		color: #333;
		display: block;
		padding: 20px 12px;
		text-decoration: none;
	}
}

.search-wrapper {
	position: relative;

    @include respond-min($cols-4) {
    	display: flex;
    }
}

.movie-search__field {

	@include respond-min($cols-4) {
		flex: 1 0 auto;
		position: relative;
	}
}
.movie-search__field--button {
	@include respond-min($cols-4) {
		flex: 0 1 auto;
	}
}

.search-result__title {
	box-sizing: border-box;
	font-size: 15px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.search-result__cast {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
