html {
    -webkit-text-size-adjust: 100%;
}

html, body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    background-image: linear-gradient(to bottom, #FCD3D3 0%, #D1FFDA 100%);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, sans-serif;
    text-align: center;

    @include respond-min($cols-4) {
        text-align: left;
    }
}

input, select, textarea {
    font-family: Arial, sans-serif;
}

a {
    transition: color 0.13s;
}

main {
    margin: auto 0;
    padding-top: 0;
}

header, footer {
    flex: 0 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

sup {
    font-size: 8px;
    top: -0.6em;
}