html, body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #FCD3D3 0%, #D1FFDA 100%);
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;

    @include respond-min($cols-4) {
        text-align: left;
    }
}

input, select, textarea {
    font-family: Arial, sans-serif;
}

a {
    transition: color 0.13s;
}

main {
    padding-top: 0;
}