<main class="main">
    <!-- <p class="intro">Quickly compare two movies by their Rotten Tomatoes<sup>TM</sup> ratings.</p> -->

    <div class="movie-search" ng-controller="searchCtrl as search" ng-show="search.state.searchActive">
        <form>
            <div class="movie-search__field">
                <input type="text" id="movie-title" name="movie-title" class="movie-title" ng-model="search.title" has-focus-when="search.state.searchActive">
            </div>

            <div class="movie-search__field">
                <button type="submit" ng-click="search.start()">Search</button>
                <button class="movie-search__clear" ng-click="search.clear()">Clear search</button>
            </div>
        </form>

        <ul class="movie-search__results" ng-show="search.results">
            <li ng-repeat="movie in search.results">
                <a href="javascript:;" ng-click="search.use($index)">
                    <h4 ng-bind="movie.title"></h4>
                    <p class="cast" ng-bind="movie.cast"></p>
                </a>
            </li>
        </ul>

        <button class="movie-search__close" ng-click="search.close()">Close</button>
    </div>

    <hr>

    <div class="comparison" ng-controller="compareCtrl as compare">
        <div class="movie movie--0" ng-class="{ 'is-loading': compare.state.loading[0] }">
            <add-movie movie="compare.movies[0]" id="0"></add-movie>
            <movie-tile movie="compare.movies[0]"></movie-tile>
        </div>

        <p class="vs">
            <abbr title="Versus">Vs.</abbr>
        </p>

        <div class="movie movie--1" ng-class="{ 'is-loading': compare.state.loading[1] }">
            <add-movie movie="compare.movies[1]" id="1"></add-movie>
            <movie-tile movie="compare.movies[1]"></movie-tile>
        </div>

        <movie-full ng-show="compare.state.moreActive"></movie-full>
    </div>
</main>