<main class="main">
    <!-- <p class="intro">Quickly compare two movies by their Rotten Tomatoes<sup>TM</sup> ratings.</p> -->

    <div class="movie-search" ng-controller="searchCtrl as search" ng-class="{ 'is-active': search.state.searchActive }">
        <form>
            <div class="search-wrapper">
                <div class="movie-search__field">
                    <input type="text" id="movie-title" name="movie-title" class="movie-title" ng-model="search.title" has-focus-when="search.state.searchActive">
                </div>

                <div class="movie-search__field">
                    <button type="submit" ng-click="search.start()">Search</button>
                    <button class="icon icon--close icon--corner" ng-click="search.clear()"><svg class="icon-svg svg-icon-cross"><use xlink:href="#icon-cross"></use></svg><span>Clear search</span></button>
                </div>
            </div>
        </form>

        <ul class="movie-search__results" ng-show="search.results">
            <li class="search-result" ng-repeat="movie in search.results">
                <a href="javascript:;" ng-click="search.use($index)">
                    <h4 class="search-result__title" ng-bind="movie.title + ' (' + movie.year + ')'"></h4>
                    <p class="search-result__cast"><span ng-repeat="member in movie.abridged_cast">{{member.name}}{{$last ? '.' : ', '}}</span></p>
                </a>
            </li>
        </ul>

        <button class="icon icon--close icon--corner" ng-click="search.close()"><svg class="icon-svg svg-icon-cross"><use xlink:href="#icon-cross"></use></svg><span>Close</span></button>
    </div>

    <div class="comparison" ng-controller="compareCtrl as compare">
        <div class="movie movie--0" ng-class="{ 'is-loading': compare.state.loading[0] }">
            <add-movie movie="compare.getMovieAtPos(0)" id="0"></add-movie>
            <movie-tile movie="compare.getMovieAtPos(0)" ng-class="{ 'is-best': compare.state.bestMovie === 0 }"></movie-tile>
        </div>

        <p class="vs">
            <abbr title="Versus">Vs.</abbr>
        </p>

        <div class="movie movie--1" ng-class="{ 'is-loading': compare.state.loading[1] }">
            <add-movie movie="compare.getMovieAtPos(1)" id="1"></add-movie>
            <movie-tile movie="compare.getMovieAtPos(1)" ng-class="{ 'is-best': compare.state.bestMovie === 1 }"></movie-tile>
        </div>

        <movie-full ng-class="{ 'is-active': compare.state.moreActive }"></movie-full>

        <span class="overlay" ng-click="compare.closeOverlay()" ng-class="{ 'is-active': compare.state.moreActive || compare.state.searchActive }"></span>
    </div>
</main>