<div class="movie-tile" ng-show="movie">
    <h2 class="movie-tile__title">{{ movie.original_title }} ({{ movie.release_date | yearOnly }})</h2>

    <img ng-src="{{ getPosterUrl(movie.poster_path) }}" class="movie-tile__img">

    <div class="movie-tile__rating">
        <p>&ldquo;<em>{{ movie.tagline }}</em>&rdquo;</p>
        <p class="rt-score">
            <strong class="rt-score__value"> {{ movie.vote_average * 10 }}%</strong>
        </p>
        <div class="rt-score__track"><!--  ng-class="'is-' + getRatingFormatted(movie.ratings.critics_rating) -->
            <span class="rt-score__bar" ng-style="{'width': (movie.vote_average * 10) + '%'}"></span>
        </div>
    </div>

    <button class="button icon icon--more" ng-click="more(movie.id)"><svg class="icon-svg svg-icon-open"><use xlink:href="#icon-open"></use></svg><span>More</span></button>
    <button class="button icon icon--close icon--corner" ng-click="remove(movie.id)"><svg class="icon-svg svg-icon-bin"><use xlink:href="#icon-bin"></use></svg><span>Remove</span></button>
</div>