<div class="movie-details">
    <div class="movie-details__inner">
        <h2 class="movie-details__title">{{ movie.original_title }} <span ng-show="movie.release_date">({{ movie.release_date | yearOnly }})</span></h2>

        <p ng-show="movie.tagline">&ldquo;<em>{{ movie.tagline }}</em>&rdquo;</p>

        <img ng-src="{{ getPosterUrl(movie.poster_path) }}" class="movie-details__img">

        <p><strong>Score</strong>: {{ movie.vote_average * 10 }}%</p>
        <p><strong>Runtime</strong>: {{ movie.runtime | prettyTime }}</p>
        <p><strong>Produced by</strong>: {{ movie.production_companies[0].name }}</p>
        <!-- <p><strong>Cast</strong>: <span ng-repeat="member in movie.abridged_cast">{{ member.name}}{{$last ? '.' : ', '}}</span></p> -->

        <p>
            <strong>Summary</strong>: <br>
            {{ movie.overview }}
        </p>

        <hr>

        <p><a class="icon icon--with-text icon--border" href="http://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">
            <svg class="icon-svg svg-icon-open"><use xlink:href="#icon-open"></use></svg>
            <span>View on IMDb</span>
        </a></p>

        <button class="button icon icon--close icon--corner" ng-click="close()"><svg class="icon-svg svg-icon-cross"><use xlink:href="#icon-cross"></use></svg><span>Close</span></button>
    </div>
</div>