$cols-1:        160;
$cols-2:        320;
$cols-3:        480;
$cols-4:        640;
$cols-5:        800;
$cols-6:        960;
$cols-7:        1120;
$cols-8:        1280;

$font-cursive: 	'Sacramento', cursive, Georgia, serif;
$font-body: 	'Merriweather', sans-serif;

$rt-fresh:		#93af3c;
$rt-rotten:		#cc2027;
$rt-grey: 		#d0d0d0;